@charset "utf-8";

/*首页焦点图*/
.slider-main_visual{ position:relative; width:100%; margin-bottom:5px;}
.slider-main_visual .slider-xx{width:100%; display:block; opacity:0;}
.slider-main_image {width:100%; overflow:hidden; margin:0 auto; position:relative;}
.slider-main_image ul {width:9999px;}
.slider-main_image li {float:left; width:100%; height:auto;}
.slider-main_image li a {display:block; width:100%;}
.slider-main_image li img{ width:100%;}
.slider-flicking_con {
	height:20px; 
	margin-left:2px; 
	margin-right:2px; 
	bottom:1%; 
	position:absolute; 
	width:99%; 
	background-color:#000; 
	opacity:0.3;
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}
.slider-flicking_con span {display:block; margin-left:50%; margin-top:5px;} 
.slider-flicking_con span a{float:left; width:7px; height:7px; margin:0; padding:0; border-radius:7px; background-color:#fff; display:block; text-indent:-1000px; margin-left:5px;}
.slider-flicking_con span a.slider-on{float:left; background-color:red;}
#slider-btn_prev,#slider-btn_next{z-index:11111;position:absolute;display:block;width:50px!important;height:50px!important;top:50%;margin-top:-25px;}
#slider-btn_prev{background:url(../images/hover_left.png) no-repeat left top; background-size:40% auto;left:0px;}
#slider-btn_next{background:url(../images/hover_right.png) no-repeat right top; background-size:40% auto;right:0px;}

.car_style{ margin-top:10px; background:#fff; width:100%; font-size:15px;}
.car_style li{ height:50px; line-height:50px; width:90%; box-sizeing:border-box; padding-left:10%; border-bottom:1px solid #e0e0e0;}
.car_style li dd{ float:left;}
.car_style li dd:nth-child(1){ width:30%;}
.car_style li dd:nth-child(2){ width:70%;}

.car_type_list{width:100%; height:192px;}
.car_type_list .img{display:block;}
.car_type_list .img img{height:44px;}
.car_type_list .content{display:block; text-align:left;}

/*缩略图样式*/
.thumbnail {position:relative; width:100%; height:61px;}
.thumbnail a{display:block; width:61px; height:61px; float:left;}

/* The gallery overlay */
#galleryOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:100000;
	background-color:#222;
	background-color:rgba(0,0,0,0.8);
	overflow:hidden;
	display:none;
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible{
	opacity:1;
}

#gallerySlider{
	height:100%;
	
	left:0;
	top:0;
	
	width:100%;
	white-space: nowrap;
	position:absolute;
	
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	transition:left 0.4s ease;
}

#gallerySlider .placeholder{
	background: url("images/preloader.gif") no-repeat center center;
	height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right:-1px;
}

#gallerySlider .placeholder img{
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

#gallerySlider.rightSpring{
	-moz-animation: rightSpring 0.3s;
	-webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
	-moz-animation: leftSpring 0.3s;
	-webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */
#prevArrow,#nextArrow{
	border:none;
	text-decoration:none;
	background:url('images/arrows.png') no-repeat;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	width:43px;
	height:58px;
	top:50%;
	margin-top:-29px;
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
	opacity:1;
}

#prevArrow{
	background-position:left top;
	left:40px;
}

#nextArrow{
	background-position:right top;
	right:40px;
}

.slider-show_image { position:relative; width:100%;}
.slider-show_image .sigle_image{width:100%; display:block; opacity:0;}
.slider-list_image {width:100%; overflow:hidden; margin:0 auto; position:relative;}
.slider-list_image ul {width:9999px;}
.slider-list_image li {float:left; width:100%; height:auto;}
.slider-list_image li a {display:block; width:100%;}
.slider-list_image li img{ width:100%;}